@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Stylist Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>

<button class="btn btn-secondary">@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</button>
<button class="btn btn-secondary">@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</button>
<button class="btn btn-secondary">@Html.ActionLink("Back to stylists", "Index")</button>
